<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>订单确认</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/images/PHILIPSICON.ico">
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../../libs/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/order.css">
</head>

<body>
    <div id="overlay">
        <img src="../../assets/images/loading2.gif">
    </div>
    <!--header-->
    <header>
        <!--nav-->
        <div class="ui-header clearfix">
            <div class="ui-header-nav clearfix">
                <h1 class="fl"><a href="http://www.philips.com.cn">
                    <img src="../../assets/images/logo.png" height="14">
                </a></h1>
                <ul>
                    <li class='cart'>
                        <a href="../cart/cart.html">
                            <i class="icon-cart">
                                <span id="cartnumber" class="num">10</span>
                            </i>
                        </a>
                    </li>
                    <li class='user'>
                        <a href="../user/login.html">
                            <i class="icon-user"></i>
                        </a>
                    </li>
                    <li class='search e-search-btn'>
                        <a href="javascript:;">
                            <i class="icon-search"></i>
                        </a>
                    </li>
                    <li class='menu e-menu-btn' id="menu">
                        <a href="javascript:;">
                            <i class="icon-menu"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ui-header-search e-header-search">
                <form>
                    <input type="search" name="k" class="zoom-text" placeholder="您在寻找什么?">
                </form>
                <span class="search-btn">
                    <i class="icon-search-blue"></i>
                </span>
                <span class="close-btn">
                    <i class="icon-close"></i>
                </span>
            </div>
            <p>中国 官方商城</p>
        </div>

        <!--menu-->
        <div class="ui-menu e-menu-con">
            <!--category-->
            <div class="category e-menu-category">
                <div class="item">
                    <h3>个人护理<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 男士剃须<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 男士造型<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 吹风美发<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 肌肤美容<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 电动牙刷<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 疼痛治疗<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>家用电器<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 织物处理<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 地板清洁<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 空气净化<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 厨房电器<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 咖啡机<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>母婴系列<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 母乳喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 婴儿喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 喂养套装<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 儿童喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 安抚喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 配件系列<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 加热消毒<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 健康护理<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                
                <div class="item">
                    <h3>附件<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 剃须刀附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 电动牙刷附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 净化器和加湿器滤网<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 厨房用品附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 吸尘器附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 肌肤护理产品附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> Saeco咖啡机附件<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>专属定制<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 须刀系列<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 牙刷系列<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
            </div>
            <!--FAQ-->
            <div class="service">
                <ul>
                    <li><a href="">平板电视</a></li>
                    <li><a href="">登录/注册</a></li>
                    <li><a href="">客服</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <!--menu-->
            <div class="logo">
                <img src="../../assets/images/logo-menu.png">
            </div>
        </div>
    </header>

    <!--concent-->
    <section>
        <form id="orderForm" name="orderForm">
            <input type="hidden" name="isBuyNow" id="isBuyNow" value="">
            <input type="hidden" name="targetUrl" id="targetUrl" value="">
            <input type="hidden" id="contactId" name="contactId" value="256786">
            <input type="hidden" id="memberId">
            <div class="ui-checkout-con">
                <h3 class="title">订单确认</h3>
                <!--address-->
                <div class="ui-checkout-address e-checkout-address">
                    <h4 class="subtitle">
                        <span>确认收货地址</span>
                        <a href="#">添加地址</a>
                    </h4>
                    <ul id="addressposition">
                        <li>
                            <div>
                                <i class="icon-large-circle active"></i>
                                <span id="detailaddress">北京北京市东城区卡瑞特让他</span>
                                <span id="name_phone">ddfg收  15625635648</span>
                            </div>
                            <p class="occ-update">编辑</p>
                        </li>
                        <li>
                            <div>
                                <i class="icon-large-circle"></i>
                                <span id="detailaddress">北京北京市东城区卡瑞特让他</span>
                                <span id="name_phone">ddfg收  15625635648</span>
                            </div>
                            <p class="occ-update">编辑</p>
                        </li>
                        <li>
                            <div>
                                <i class="icon-large-circle"></i>
                                <span id="detailaddress">北京北京市东城区卡瑞特让他</span>
                                <span id="name_phone">ddfg收  15625635648</span>
                            </div>
                            <p class="occ-update">编辑</p>
                        </li>
                    </ul>
                    <div class="more">
                        <i class="icon-ck-arrow-down active-down"></i>
                    </div>
                </div>
                <!--favorable-->
                <div class="ui-checkout-coupon">
                    <h4 class="subtitle">使用优惠券</h4>
                    <ul class="clearfix">
                        <li><input type="text" placeholder="请输入您的优惠券码" id="coupons" name = "coupons" class="ui-input"></li>
                        <li class="use-btn"><input type="button" value="使用"  class="ui-btn"></li>
                    </ul>
                </div>
                <!--pay-->
                <div class="ui-checkout-payway">
					<h4 class="subtitle">支付方式</h4>
					<ul>
						<input type="hidden" id="payment" name="payment" value="支付宝支付">
						<li id="alipay" myflag="支付宝支付"><i class="icon-slt-circle active"></i><img src="../../assets/images/alipay.jpg" width="80"></li>
						<li id="cod" myflag="货到付款"><i class="icon-slt-circle"></i><span>货到付款</span></li>
					</ul>
					<p class="hint">为了保证及时处理您的订单，请于45分钟内付款，逾期未付款订单将被取消，需要重新下单。</p>
                </div>
                <!--orderinfo-->
                <div class="ui-checkout-orderinfo">
					<h4 class="subtitle">确认订单信息</h4>
					<ul id="orderposition"><li class="clearfix">
							<a href="#" class="clearfix">
								<img src="../../assets/images/cart1.jpg">
							</a>
							<div>
								<p class="clearfix">
									<span class="name">飞利浦 电吹风 BHC202/05</span>
									<span class="totalprice">493.5</span>
								</p>
								<div class="price-num clearfix">
									<p>
										<span class="now">329</span>
										<span class="used">329</span>
									</p>
									<span class="num">X2</span>
								</div>
							</div>
						</li><li class="clearfix">
							<a href="#" class="clearfix">
								<img src="../../assets/images/cart2.jpg">
							</a>
							<div>
								<p class="clearfix">
									<span class="name">飞利浦 车载空气净化器 AC4030/10</span>
									<span class="totalprice">1124.25</span>
								</p>
								<div class="price-num clearfix">
									<p>
										<span class="now">1499</span>
										<span class="used">1499</span>
									</p>
									<span class="num">X1</span>
								</div>
							</div>
						</li></ul>
					<p class="more" id="ordermore"><i class="icon-ck-arrow-down active-down"></i></p>
                </div>
                <!--order-total-->
                <div class="ui-checkout-order-total">
					<ul>
						<li class="clearfix">
							<span>商品总额</span>
							<span id="subtotalCurrentPayAmount">￥2157</span>
						</li>
						<li class="clearfix">
							<span>运费</span>
							<span id="shippingfee">￥8</span>
						</li>
						<li class="clearfix">
							<span>优惠总额</span>
							<span id="offersTotal">￥539.25</span>
						</li>
						<li class="total clearfix">
							<span>订单总额</span>
							<span id="realPayAmount">￥1625.75</span>
						</li>
					</ul>
					<!-- 发票 -->
					<div class="invoice">
						<p class="ui-com-terms-slt e-com-terms-slt"><i class="icon-slt-square active"></i>开具发票</p>
						<ul>
							<li>
								<span>发票抬头</span>
								<input type="text" class="ui-input" value="个人" id="receiptTitle">
							</li>
							<li>
								<span>发票内容</span>
								<div class="e-slt-control">
									<!--<p>个人护理</p>-->
									<select class="ui-slt" id="receiptContent">
		                                <option value="个人护理">个人护理</option>
		                                <option value="家用电器">家用电器</option>
		                                <option value="母婴系列">母婴系列</option>
		                                <option value="附件">附件</option>
		                            </select>
                                    <i class=" fa fa-angle-down"></i>
                              	</div>
							</li>
						</ul>
					</div>
				</div>
                <!-- btn -->
                <div class="ui-checkout-btn">
                    <input class="ui-btn" value="结算" type="button" id="saveorder">
                </div>
            </div>
        </form>
    </section>

    <!--footer-->
    <footer>
        <div class="ui-footer">
            <!--ASQ-->
            <div class="ui-footer-question e-footer-question">
                <h3>在线帮助 <i class="ui-add"></i></h3>
                <ul>
                    <li><a href="">常见问题</a></li>
                    <li><a href="">订单说明</a></li>
                    <li><a href="">支付方式</a></li>
                    <li><a href="">货物配送</a></li>
                    <li><a href="">售后服务</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>

            <!-- Other illustrate -->
            <div class="ui-footer-illustrate">
                <div class="logo">
                    <img src="../../assets/images/logo-footer.png" alt="">
                </div>
                <div class="online">
                    <a href="">
                        <i class="icon-chat"></i>
                        在线客服
                    </a>
                </div>
                <div class="tell">
                    <a href="tel:400-880-0008">飞利浦官网客服电话   400-880-0008</a>
                    <a href="tel:400-889-2552">飞利浦商城客服电话   400-889-2552</a>
                </div>
                <div class="link">
                    <ul class="clearfix">
                        <li><a href="">隐私条款</a></li>
                        <li><a href="">使用条款</a></li>
                        <li><a href="">关于飞利浦官方商城</a></li>
                        <li><a href="">联系</a></li>
                        <li><a href="">站点地图</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>©2004-2017 Koninklijke Philips N.V.版权所有 </p>
                    <p>沪ICP备09062110号</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../../libs/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/order.js"></script>
    <script src="../../assets/js/comment.js"></script>

</body>

</html>