<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>首页</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/images/PHILIPSICON.ico">
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../../libs/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/css/login.css">
</head>

<body>
    <div id="overlay">
        <img src="../../assets/images/loading2.gif">
    </div>
    <!--header-->
    <header>
        <!--nav-->
        <div class="ui-header clearfix">
            <div class="ui-header-nav clearfix">
                <h1 class="fl"><a href="../../../index.html">
                    <img src="../../assets/images/logo.png" height="14">
                </a></h1>
                <ul>
                    <li class='cart'>
                        <a href="../cart/cart.html">
                            <i class="icon-cart">
                                <span id="cartnumber" class="num">10</span>
                            </i>
                        </a>
                    </li>
                    <li class='user'>
                        <a href="../user/login.html">
                            <i class="icon-user"></i>
                        </a>
                    </li>
                    <li class='search e-search-btn'>
                        <a href="javascript:;">
                            <i class="icon-search"></i>
                        </a>
                    </li>
                    <li class='menu e-menu-btn' id="menu">
                        <a href="javascript:;">
                            <i class="icon-menu"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ui-header-search e-header-search">
                <form>
                    <input type="search" name="k" class="zoom-text" placeholder="您在寻找什么?">
                </form>
                <span class="search-btn">
                    <i class="icon-search-blue"></i>
                </span>
                <span class="close-btn">
                    <i class="icon-close"></i>
                </span>
            </div>
            <p>中国 官方商城</p>
        </div>

        <!--menu-->
        <div class="ui-menu e-menu-con">
            <!--category-->
            <div class="category e-menu-category">
                <div class="item">
                    <h3>个人护理<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 男士剃须<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 男士造型<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 吹风美发<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 肌肤美容<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 电动牙刷<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 疼痛治疗<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>家用电器<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 织物处理<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 地板清洁<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 空气净化<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 厨房电器<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 咖啡机<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>母婴系列<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 母乳喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 婴儿喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 喂养套装<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 儿童喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 安抚喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 配件系列<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 加热消毒<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 健康护理<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <h3>附件<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 剃须刀附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 电动牙刷附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 净化器和加湿器滤网<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 厨房用品附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 吸尘器附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 肌肤护理产品附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> Saeco咖啡机附件<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>专属定制<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 须刀系列<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 牙刷系列<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
            </div>
            <!--FAQ-->
            <div class="service">
                <ul>
                    <li><a href="">平板电视</a></li>
                    <li><a href="">登录/注册</a></li>
                    <li><a href="">客服</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <!--menu-->
            <div class="logo">
                <img src="../../assets/images/logo-menu.png">
            </div>
        </div>
    </header>

    <!--concent-->
    <section>
        <div class="ui-login">
            <form id="form" class="ui-login-con">
                <h3>用户登录</h3>
                <div class="ui-form-list">
                    <ul>
                        <li>
                            <input id="loginName" type="text" class='ui-input required' placeholder="电子邮件地址/登录名">
                            <p id="loginNameError" data-error='请输入用户名' class="hint"></p>
                        </li>
                        <li>
                            <input id="loginPwd" type="password" class='ui-input' placeholder="密码" oncopy="return false" onpaste="return false" ondragstart="return false"
                                onselectstart="return false">
                            <p id="loginPassError" class="hint"></p>
                        </li>
                        <li>
                            <div class="ui-login-val">
                                <p>
                                    <input type="text" id="validateCode" class='ui-input' placeholder="效验码">
                                </p>
                                <img id="securityImg" src="../../assets/images/securityImage" alt="">
                                <p id="validateCodeError" class="hint">
                                    <i class="fa fa-times"></i> 请输入效验码
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <a href="./info.html"><input id="btnSure" type="button" class="ui-btn ui-btn-large login-member needsclick" value="登 录"></a>
                <p class="ui-login-forgetp"><a href="./forgetPassword.html">忘记密码</a></p>
            </form>
            <div class="ui-login-account">
                <p>还没有飞利浦账户？</p>
                <a href="./register.html"><input type="button" class="ui-btn-large create-member" value="创建用户"></a>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer>
        <div class="ui-footer">
            <!--ASQ-->
            <div class="ui-footer-question e-footer-question">
                <h3>在线帮助 <i class="ui-add"></i></h3>
                <ul>
                    <li><a href="">常见问题</a></li>
                    <li><a href="">订单说明</a></li>
                    <li><a href="">支付方式</a></li>
                    <li><a href="">货物配送</a></li>
                    <li><a href="">售后服务</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>

            <!-- Other illustrate -->
            <div class="ui-footer-illustrate">
                <div class="logo">
                    <img src="../../assets/images/logo-footer.png" alt="">
                </div>
                <div class="online">
                    <a href="">
                        <i class="icon-chat"></i>
                        在线客服
                    </a>
                </div>
                <div class="tell">
                    <a href="tel:400-880-0008">飞利浦官网客服电话   400-880-0008</a>
                    <a href="tel:400-889-2552">飞利浦商城客服电话   400-889-2552</a>
                </div>
                <div class="link">
                    <ul class="clearfix">
                        <li><a href="">隐私条款</a></li>
                        <li><a href="">使用条款</a></li>
                        <li><a href="">关于飞利浦官方商城</a></li>
                        <li><a href="">联系</a></li>
                        <li><a href="">站点地图</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>©2004-2017 Koninklijke Philips N.V.版权所有 </p>
                    <p>沪ICP备09062110号</p>
                </div>
            </div>
        </div>
    </footer>

    <div id="module" class="ui-png-mask e-png-mask"></div>

    <script src="../../../libs/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/js/aes/aes.js"></script>
    <script src="../../assets/js/aes/util.js"></script>
    <script src="../../assets/js/aes/pdk.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/login.js"></script>
    <script src="../../assets/js/comment.js"></script>
</body>

</html>