<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>常见问题</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/images/PHILIPSICON.ico">
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/question-policy.css">
</head>

<body>

    <!--header-->
    <header>
        <!--nav-->
        <div class="ui-header clearfix">
            <div class="ui-header-nav clearfix">
                <h1 class="fl"><a href="../../../index.html">
                    <img src="../../assets/images/logo.png" height="14">
                </a></h1>
                <ul>
                    <li class='cart'>
                        <a href="../cart/cart.html">
                            <i class="icon-cart">
                                <span id="cartnumber" class="num">10</span>
                            </i>
                        </a>
                    </li>
                    <li class='user'>
                        <a href="../user/login.html">
                            <i class="icon-user"></i>
                        </a>
                    </li>
                    <li class='search e-search-btn'>
                        <a href="javascript:;">
                            <i class="icon-search"></i>
                        </a>
                    </li>
                    <li class='menu e-menu-btn' id="menu">
                        <a href="javascript:;">
                            <i class="icon-menu"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ui-header-search e-header-search">
                <form>
                    <input type="search" name="k" class="zoom-text" placeholder="您在寻找什么?">
                </form>
                <span class="search-btn">
                    <i class="icon-search-blue"></i>
                </span>
                <span class="close-btn">
                    <i class="icon-close"></i>
                </span>
            </div>
            <p>中国 官方商城</p>
        </div>

        <!--menu-->
        <div class="ui-menu e-menu-con">
            <!--category-->
            <div class="category e-menu-category">
                <div class="item">
                    <h3>个人护理<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 男士剃须<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 男士造型<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 吹风美发<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 肌肤美容<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 电动牙刷<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 疼痛治疗<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>家用电器<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 织物处理<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 地板清洁<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 空气净化<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 厨房电器<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 咖啡机<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>母婴系列<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 母乳喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 婴儿喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 喂养套装<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 儿童喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 安抚喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 配件系列<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 加热消毒<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 健康护理<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <h3>附件<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 剃须刀附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 电动牙刷附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 净化器和加湿器滤网<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 厨房用品附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 吸尘器附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 肌肤护理产品附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> Saeco咖啡机附件<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>专属定制<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 须刀系列<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 牙刷系列<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
            </div>
            <!--FAQ-->
            <div class="service">
                <ul>
                    <li><a href="">平板电视</a></li>
                    <li><a href="">登录/注册</a></li>
                    <li><a href="">客服</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <!--menu-->
            <div class="logo">
                <img src="../../assets/images/logo-menu.png">
            </div>
        </div>
    </header>

    <!--concent-->
    <section>
        <div class="ui-help-after">
            <h3>使用条款</h3>
            <div>
                <div class="con">
                    <h4>1.使用条款的接受</h4>
                    <p>
                        访问或使用本网站即表示您同意受此处包含或提及的使用条款以及所有条款和条件、或者本网站上提出的任何其它条款和条件的约束。 如果您不同意本使用条款的全部内容，请勿访问或使用本网站。
                    </p>
                    <div>
                        <p>以下情况不承担退换货服务：</p>
                        <ul>
                            <li>
                                <span>1.</span>
                                <span>
										非商品本身质量问题，如：对于颜色，外观，形状不满意等问题，不属于质量问题，不在退换货服务范围内；
									</span>
                            </li>
                            <li>
                                <span>2.</span>
                                <span>
										商品的外包装、附件、说明书不完整，或保修单、发票任一缺失或涂改，不提供退换货服务；
									</span>
                            </li>
                            <li>
                                <span>3.</span>
                                <span>
										未经授权的维修、误用、碰撞、疏忽、滥用、进液、事故、改动、不正确的安装所造成的商品质量问题，或撕毁、涂改标贴、机器序号、防伪标记、不在退换货服务范围内；
									</span>
                            </li>
                            <li>
                                <span>4.</span>
                                <span>
										超过三包有效期的，商城将不予受理；
									</span>
                            </li>
                            <li>
                                <span>5.</span>
                                <span>
										商品的正常磨损，不在退换货服务范围内；
									</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="con">
                    <h4>2.条款的修改</h4>
                    <p>
                        飞利浦可能随时修改本使用条款。 经过修改的使用条款在公布后立即生效。如果您在公布修改条款后继续访问或使用本网站，则将被视为已接受此类修改。 建议您经常查看适用的条款和条件。其它飞利浦网站可能各自具有适用于此类网站的使用条款。
                    </p>
                    <p>
                        飞利浦有权在不予事先通知的情况下，随时对本网站或网站内容进行终止、更改或更新。飞利浦有权在任何时候出于任何原因而自行决定，在不予事先通知的情况下立即限制、拒绝或终止任何人对本网站或其中任何部分的访问。
                    </p>
                </div>
                <div class="con">
                    <h4>3.隐私政策</h4>
                    <p>
                        通过本网站直接或间接提供或收集的个人信息只会用于飞利浦隐私政策和本使用条款所规定的范围，并受本网站上发布的隐私政策约束。
                    </p>
                </div>
                <div class="con">
                    <h4>4. 免责声明</h4>
                    <p>
                        本网站上的所有内容和用户内容（包括但不限于文本、图像、图形、链接及其它材料）均依照"按原样"和"可用时"的原则提供。飞利浦及其子公司、附属机构、合作伙伴、许可方和供应商在此明确放弃任何形式的声明或保证（无论是明示还是暗示），其中包括对本网站、内容或用户内容的适销性、特殊用途的适用性、非侵权性乃至其运作的任何保证。飞利浦及其子公司、附属公司、合作伙伴、许可方和供应商对下列事项不作任何保证或声明：(i)
                        本网站能够满足您的需要 (ii) 本网站不会发生中断，提供的信息及时、安全且没有错误，或 (iii) 使用本网站（包括本网站上的任何信息和材料）所获得的结果正确、完整、准确、可靠或者符合您的需要。
                    </p>
                    <p>
                        本网站为公共网站。 本网站不保证用户在此提交的任何用户内容的保密性。 请勿在此提交保密信息。
                    </p>
                    <p>
                        飞利浦及其子公司、附属机构、合作伙伴、许可方和供应商对互联网、网络或托管服务的中断或疏漏不负任何责任，也不保证本网站、本网站提供的服务或飞利浦发送的电子信件不包含病毒或任何其它有害因素。
                    </p>
                    <p>
                        通过使用本网站下载或获得任何材料均由您自行决定，风险自负。由于下载此类材料而使您的计算机系统遭到损害或导致数据丢失，您将负全部责任。
                    </p>
                </div>
                <div class="con">
                    <h4>5. 注册</h4>
                    <p>
                        要访问本网站的某些部分或使用本网站的某些功能，您可能需要注册投稿人帐户，一但注册为飞利浦会员，飞利浦将不定期递送给您飞利浦的最新资讯。本注册是免费的。
                    </p>
                    <p>
                        在您注册时，您必须选择唯一的用户名（或"称谓"）和密码，且必须提供唯一、有效、现用并可供验证的电子邮件地址。不允许存在重复的用户名和电子邮件地址，因此如果您输入的名称或地址已有人使用，系统就会提示您另选名称或地址。我们会就您注册的信息向您发送电子邮件。如果出于任何原因而未能发送此类信息，那么您访问或使用需要注册的区域、功能或特性时会遭到拒绝或终止。必须立即更新注册，保证注册信息准确且最新。
                        您需要单方面负责维护您的密码的保密性。如果我们认为您有猥亵、下流、粗鄙或其它不当行为，我们有权更改您的用户名，或删除您向本网站提交的内容，或拒绝/取消您的注册。对于限制您的计算机访问，您同样负有全部责任。
                        您的帐户、用户名和/或密码之下由于您的作为、不作为或疏忽发生活动，您同意对所有活动负责。 如果您发现涉及您的帐户、用户名和/或密码的任何可疑或未授权行为，您同意通过电子邮件
                        <a href="http://www.philips.com.cn/siteowner/index.page">http://www.philips.com.cn/siteowner/index.page </a> 立即与我们联系。我们可以自行决定，阻止通过任何特定的电子邮件服务或 ISP 进行的注册。
                    </p>
                </div>
                <div class="con">
                    <h4>6. 投稿人</h4>
                    <p>
                        向本网站提交任何用户内容，即表示您同意所提交材料的适当性、建设性和相关性，且不包含任何可能不合法或不适合发表的项目，这些项目包括但不限于
                    </p>
                    <div>
                        <ul>
                            <li>
                                <span>(1) </span>
                                <span>
										可能对其它个人或实体构成诽谤或中伤的
									</span>
                            </li>
                            <li>
                                <span>(2)</span>
                                <span>
										可能为任何个人或财产带来损害，诽谤或侮辱任何个人或组织的
									</span>
                            </li>
                            <li>
                                <span>(3)</span>
                                <span>
										可能侵犯任何个人的法定权利（包括隐私权和形象权肖像权）的
									</span>
                            </li>
                            <li>
                                <span>(4)</span>
                                <span>
										带有色情、淫秽、亵渎、庸俗、下流或威胁性质的
									</span>
                            </li>
                            <li>
                                <span>(5)</span>
                                <span>
										带有文化、种族色彩，伤风败俗的 
									</span>
                            </li>
                            <li>
                                <span>(6)</span>
                                <span>暗示或鼓励非法活动的。</span>
                            </li>
                        </ul>
                    </div>
                    <p>
                        提交任何材料之前必须采取适当的措施，扫描并清除病毒或者其它有害或具有破坏性的功能。此外，不得通过本网站传递连锁信、金字塔骗局、调查和推销内容。 不得伪造标题、标识或其它数据来伪装通过本网站传递的任何原始内容和/或用户内容，或掩饰您在本网站上的存在。不得侵扰或破坏我们的站点、服务器或网络，或者采取任何措施对我们的基础设施施加不合理或不相称的负载。
                    </p>
                    <p>
                        您确认、声明和保证您向本网站提交的用户内容不会侵犯他人的任何所有权，包括但不限于版权、商标或专利权，或任何保密义务。
                    </p>
                    <p>
                        您确认并同意您的任何观点、提交内容或讨论内容，或者您在本网站上提供的任何其它用户内容均不是知识产权保护的对象，可供任何其它投稿人使用，而不存在报酬或归属问题。
                    </p>
                    <p>
                        您在此授予飞利浦及其子公司、附属机构和合作伙伴全球性的、不可撤销的、免版税的、非排他的、可转授和转让的许可，后者可以使用、复制、派生、分发、公开执行、传送和发表您在本网站、任何其它飞利浦网站、以及采用任何及所有媒介形式的其它飞利浦营销材料或公关材料上提供的用户内容。
                    </p>
                    <p>
                        对于您自己的用户内容以及公布、提交和/或发表该内容的后果，您应负全部责任。飞利浦可能会在您提交用户内容的前后对其进行检查和监督，但飞利浦没有义务这样做。 但是，您承认我们可以监督或检查所有用户内容。由于不存在限制，飞利浦及其子公司、附属机构、合作伙伴、授权商和供应商不会也无法对第三方在网站上发表的用户内容的准确性、完整性、质量或有效性负责。
                    </p>
                    <p>
                        对本网站上发表的任何用户内容或者任何观点、建议和劝告，飞利浦不作任何担保，飞利浦明确放弃与用户内容有关的任何及所有责任。
                    </p>
                    <p>
                        唯独飞利浦有权并能够编辑和/或删除不可取、不适当或违反本使用条款的消息或任何其它用户内容，飞利浦可以随时在不经过事先通知或同意的情况下，自行决定是否采取这种做法。
                    </p>
                    <p>
                        如果用户认为所提交的用户内容不可取或不适当，我们鼓励他们立即通过电子邮件地址<a href="http://www.philips.com.cn/siteowner/index.page">http://www.philips.com.cn/siteowner/index.page</a>与飞利浦联系。收到此类通知后，我们将在合理的时间范围内，尽必要的努力采取我们认为必要的措施。
                    </p>
                    <p>
                        由于该过程较为耗时，我们不一定能立即删除或编辑某些用户内容。
                    </p>
                </div>
                <div class="con">
                    <h4>7. 责任限制</h4>
                    <p>
                        对于访问和使用或者无法访问和使用本网站、网站内容或用户内容导致的、引起的、与之有关的任何直接、间接、后果性、惩罚性、特殊、意外或其它类型的损失，飞利浦及其任何子公司、附属机构、合作伙伴、许可方或供应商概不负责，即使事先已告知飞利浦此类损失的可能性。除非此类损失直接并且纯粹是由飞利浦的故意不当行为或重大疏忽过失所致。
                    </p>
                    <p>
                        如果您所在的国家或州/省/自治区不允许以上第 4 部分中所述的例外情况、责任限制或者任何免责声明，那么此类例外或限制将对您不适用，但这仅限于不允许此类例外和限制的情况。 在此情况下，此类例外或限制仅限于适用法律所要求的范围。
                    </p>
                </div>
                <div class="con">
                    <h4>8. 第三方内容/软件</h4>
                    <p>
                        飞利浦对通过超链接连接到本网站的任何第三方所属站点的内容概不负责，无论此类超链接是由本网站还是由第三方根据使用条款提供。 我们网站上连到其它站点的链接并未经过这些站点的认可，因此对于本网站所链接到的任何站点，其内容的准确性、时效性和适用性没有任何判断或保证，我们对此不负有责任。
                    </p>
                    <p>
                        可从本网站或通过本网站下载的任何软件在许可时都要受到适用许可协议条款的约束。除了适用许可协议中规定的条款外还应注意，这些软件仅供最终用户使用，严格禁止进一步拷贝、复制或重新分发软件。与此类软件相关的保证（如果有）应遵照适用许可协议中明确规定的条款执行。
                    </p>
                    <p>
                        飞利浦在此明确放弃所有进一步声明以及任何形式的保证（无论是明示还是暗示），这包括对软件的适销性、特殊用途适用性和非侵权性的保证。
                    </p>
                </div>
                <div class="con">
                    <h4>9. 版权和商标</h4>
                    <p>
                        飞利浦及其附属机构、分公司和/或合作伙伴所提供内容的版权和所有其它所有权，在网站上运作和发布的软件，网站上的数据汇编，本网站的结构、顺序和布局，全部属于 Koninklijke Philips Electronics N.V. 和/或其合作伙伴和授权商。飞利浦保留所有未在此处明确授予的针对内容所拥有的权利。
                    </p>
                    <p>
                        PHILIPS 是 Koninklijke Philips Electronics N.V. 的注册商标。
                    </p>
                    <p>
                        PHILIPS 以及 Koninklijke Philips Electronics N.V. 及其附属机构的所有其它注册商标 均为公司的重要资产。 请务必正确地使用这些商标，引用飞利浦的产品和服务时应遵循飞利浦的说明。 从此处了解更多信息。
                    </p>
                    <p>
                        使用和注册 PHILIPS 名称是本公司的独有权利。不得注册或使用其含义或描述接近飞利浦名称或与之相似的公司名称、法定名称、贸易名称、域名或其它名称，使用的名称不能包含飞利浦名称的组成部分，也不能包含由Koninklijke Philips
                        ElectronicsN.V.拥有的任何其它注册商标。
                    </p>
                </div>
                <div class="con">
                    <h4>10. 网站所有权</h4>
                    <p>
                        本网站具有公开性质，在此处提交的任何信息均被视为非保密信息。您承认，根据适用的专利法，提交了任何用户内容中包含的任何创意发明即表示您"发表"了此类创意发明。
                    </p>
                    <p>
                        您承认，在本网站上提交和/或讨论的任何用户内容均可以成为飞利浦及其子公司、附属机构、合作伙伴或第三方的专利权、版权、商标权及其它知识产权的主题。如果您想利用提交到本网站上的任何观点、方案、建议、解决方案或其它用户内容，那么您就有责任在实施利用行为之前适当地理清知识产权。
                    </p>
                </div>
                <div class="con">
                    <h4>11. 美国版权侵权诉讼[仅提供英文版]</h4>
                </div>
                <div class="con">
                    <h4>12. 赔偿与免责</h4>
                    <p>您同意，如果由于您在本网站上提交的任何消息、数据、材料或任何其它用户内容的发布、内容或传递，或者由于您违反了本使用条款，而造成任何损失、责任、费用和开支（包括合理的律师费、专门费用和诉讼费），您将保证飞利浦及其子公司、附属机构、合作伙伴和供应商以及它们各自的主管人员、董事、员工、股东、法律代表、代理、接任者和受让人的利益不会因此受到损害。如果您发布的任何消息或任何其它用户内容引起投诉或诉讼，飞利浦有权透露您的身份以及飞利浦拥有关于您的任何其它信息。</p>
                    <p>
                        如果您与一个或多个用户发生纠纷，您将免除飞利浦及其子公司、附属机构、合作伙伴和供应商以及它们各自的主管人员、董事、员工、股东、法律代表、代理、接任者和受让者的责任，使其不受此类纠纷引起或与之相关的、已知或未知的、任何类型和性质的诉讼、要求和损害（实质性和后果性直接损害和间接损害）的影响。
                    </p>
                </div>
                <div class="con">
                    <h4>13. 站点关闭</h4>
                    <p>唯独我们有权在任何时候、出于任何原因关闭本站点或其中的任何部分，无需经过事先通知或同意。如果无法存储或删除提交到本网站的任何内容和/或用户内容，我们没有任何责任或义务。</p>
                </div>
                <div class="con">
                    <h4>14. 飞利浦产品</h4>
                    <p>
                        飞利浦提供有关产品和第三方商家的信息，以及出售所列出产品的第三方商家的链接。 飞利浦及其附属机构会尽量做到准确。不过，飞利浦不保证本站点的产品描述或其它内容准确、完整、可靠、最新或没有错误。本网站可能包含特定飞利浦产品和服务的引用，这些产品和服务在特定的国家可能无法（随时）提供。任何此类引用并非暗示或保证在任何特定的国家都可以随时提供这些产品或服务。
                        要获得更多信息，请联系您当地的飞利浦业务联系人。
                    </p>
                    <p>
                        网站上标示销售价是制造商建议的销售价，包含增值税。通过本网站购买任何产品都要受相关页面上的其它购买条款约束。请注意，如果您已链接到第三方站点，这些购买条款可能属于第三方。
                    </p>
                    <p>
                        飞利浦可能提供附属公司和其它一些公司的站点链接。
                    </p>
                    <p>
                        我们不负责对其进行检验或评估，也不对其中的任何公司、个人或其网站内容作任何担保。
                    </p>
                    <p>
                        我们对所有这些、以及任何其它第三方的行为、产品和内容不承担任何责任或义务。 应认真查看他们的隐私声明和其它使用条款。
                    </p>
                </div>
                <div class="con">
                    <h4>15. 1995 年私人证券诉讼改革法案的前瞻性声明（美国）</h4>
                    <p>
                        本网站上的信息可能包含特定的前瞻性声明，涉及飞利浦的财务状况、运营状况和业务情况，以及飞利浦关于这些项目的一些计划和目标。我们提醒阅读者，前瞻性声明并不能保证以后的绩效，实际结果与前瞻性声明中包含的结果可能会有较大出入。我们在政策、销售增长预估、未来
                        EBITA 和成本节省、有机业务的未来发展以及未来收购活动的益处和资本情况方面所发表的声明都是前瞻性声明的例子。
                    </p>
                    <p>
                        从本质上说，前瞻性声明存在着风险和不确定性，因为它们涉及到将来的事件和情况，有许多因素都可能导致实际结果和发展情况与这些前瞻性声明中所明示或暗示的发生较大偏差。
                    </p>
                    <p>
                        前瞻性声明像其它事情一样，要受到诸多我们无法控制的因素制约，这些因素包括：国内及全球经济和商业环境，我们的战略是否能够成功实施，我们成功地确定和完成收购活动并将收购业务融入现有业务的能力，客户对我们的现有产品和新产品的偏好，我们开发和推出新产品的能力，我们从该战略中实现利润的能力，政府和法律机构的政策和措施，立法的变更和竞争的影响，等等。
                    </p>
                    <p>
                        因此，我们将来的实际结果可能与此类前瞻性声明中设定的计划、目标、期望值发生较大偏差。 其它风险和因素在我们最近提交或提供给 美国证券交易委员会（"EC"）的Form 20-F 年度报告所含的文档中作了鉴定（可在 SEC的网站
                        <a href="www.sec.gov">www.sec.gov</a> 上找到）。我们或发表我们作出或发表的任何前瞻性声明仅表明其作出时的情况。
                    </p>
                    <p>
                        我们没有责任更新前瞻性声明以反映相关期望值的任何变动，或反映此类声明所基于的事件、条件和情况的变化。不过，读者应参考我们在已经或可能向 SEC 提交的文档中公布的任何其它事项。
                    </p>
                </div>
                <div class="con">
                    <h4>16. 纠纷解决</h4>
                    <p>
                        本使用条款应受中华人民共和国法律约束，并按中华人民共和国法律解释。由本使用条款或您使用本网站引起的、与之相关或有联系的任何纠纷、诉讼或诉讼事由，包括涉及到本使用条款的存在性和有效性的任何纠纷应提交上海市有管辖权的人民法院管辖。
                    </p>
                </div>
                <div class="con">
                    <h4>17. 独立性</h4>
                    <p>
                        如果本使用条款当中的任何条款被认定为无效或不可执行，那么无效或不可执行条款将被替换为含义最接近原始条款的有效可执行条款，其余条款应照常执行。
                    </p>
                </div>
                <div class="con">
                    <h4>18. 不弃权</h4>
                    <p>
                        飞利浦没有执行这些条款的任何部分并不表示飞利浦放弃本使用条款所赋予的权利，无论是过去还是现在、针对任何人士的行为。
                    </p>
                    <p>
                        飞利浦接受资助及其对代表其行事的任何人士的依赖均不应视为放弃本使用条款的任何部分。只有飞利浦的授权代表签署的具体书面弃权才具有法律效力。
                    </p>
                    <p>
                        "各方谨此不可撤销地放弃针对陪审团就由本协议引起的、或与之相关的所有事项向各方提出任何类型的诉讼或法律程序（包括任何反诉）作出的审判提出异议的权利。"
                    </p>
                </div>
                <div class="con">
                    <h4>19. 标题</h4>
                    <p>
                        使用条款中插入各部分的标题只为方便起见，不应构成其中的一部分或以任何方式影响使用条款的含义或解释。
                    </p>
                    <p>感谢您加入我们的网站。</p>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer>
        <div class="ui-footer">
            <!--ASQ-->
            <div class="ui-footer-question e-footer-question">
                <h3>在线帮助 <i class="ui-add"></i></h3>
                <ul>
                    <li><a href="">常见问题</a></li>
                    <li><a href="">订单说明</a></li>
                    <li><a href="">支付方式</a></li>
                    <li><a href="">货物配送</a></li>
                    <li><a href="">售后服务</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>

            <!-- Other illustrate -->
            <div class="ui-footer-illustrate">
                <div class="logo">
                    <img src="../../assets/images/logo-footer.png" alt="">
                </div>
                <div class="online">
                    <a href="">
                        <i class="icon-chat"></i>
                        在线客服
                    </a>
                </div>
                <div class="tell">
                    <a href="tel:400-880-0008">飞利浦官网客服电话   400-880-0008</a>
                    <a href="tel:400-889-2552">飞利浦商城客服电话   400-889-2552</a>
                </div>
                <div class="link">
                    <ul class="clearfix">
                        <li><a href="">隐私条款</a></li>
                        <li><a href="">使用条款</a></li>
                        <li><a href="">关于飞利浦官方商城</a></li>
                        <li><a href="">联系</a></li>
                        <li><a href="">站点地图</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>©2004-2017 Koninklijke Philips N.V.版权所有 </p>
                    <p>沪ICP备09062110号</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../../libs/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../assets/js/main.js"></script>

</body>

</html>