@charset 'utf-8';
@import './common.less';

.ui-personal-data{
    background-color: #f0f1f2;
    h3{
        background: @white;
        font-size: @font14 + 4;
        text-align: center;
        font-weight: normal;
        position: relative;
        padding: 15px 13px;
        .icon-back{
            width: 9px;
            height: 16px;
            position: absolute;
            top: 3px;
            left: 13px;
            .icon();
            background-position: 0 -150px;
        }
        a{
            display: block;
            position: absolute;
            top: 17px;
            right: 13px;
            width: 47px;
            height: 22px;
            text-align: center;
            line-height: 22px;
            color: @white;
            background-color: #a9bcc8;
            .borderRadius(1px);
            font-size: @font14 - 2;
            font-weight: normal;
            &:first-child{
                left: 13px;
                background-color: @white;
            }
        }
    }
    .ui-address-list{
        padding-bottom: 15px;
        ul>li{
            background-color: @white;
            border-bottom: 1px solid @c3;
            margin-bottom: 10px
        }
        .ui-address-tit{
            padding: 10px 13px 12px 13px;
            .box();
            border-top: 1px solid @c3;    
            border-bottom: 1px solid @c3;
            font-size: @font14 + 1;
            h4{
                font-weight: normal;
                font-size: @font14 + 1;
                padding-bottom: 5px;
                span{
                    margin-left: 10px;
                }
            }
            p{
                color: #888b9c;
                font-size: @font14 - 1;
            }   
        }
        .ui-address-btn{
            padding: 0 13px;
            font-size: @font14 - 1;
            .box();
            p{
                &:first-child{
                    float: left;
                    padding: 5px 0;
                    color: #888b9c;
                    &.active{
                        color: #39c;
                        font-weight: bold;
                        i{
                            background-position: -120px -150px;
                        }
                    }
                }
                &:last-child{
                    a{
                        padding: 5px 0;
                        display: inline-block;
                        color: #888b9c;
                    }
                    float: right;
                    a:first-child{
                        padding-right: 10px;
                    }
                }
                .icon-large-circle{
                    margin-bottom: -2px;
                    margin-right: 10px;
                    height: 15px;
                    width: 15px;
                    .icon();
                    background-position: -80px -150px;

                }
            }
        }
    }
}

// 模态框
.ui-com-pop{
    display: none;
    width: 100%;
    padding: 0 40px;
    position: absolute;
    top: 0;
    left: 0;
    .box();
    z-index: 1111;
    .ui-com-pop-con{
        width: 100%;
        background-color: @white;
        padding: @font14 + 4;
        position: relative;
        .borderRadius(5px);
        .box();
        .ui-pop-close{
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            .icon-pop-close{
                width: 16px;
                height: 16px;
                .icon();
                background-position: -120px -60px;
            }
        }
        h3.title{
            padding-bottom: 12px;
            font-weight: normal;
            font-size: @font14;
            text-align: center;
        }
        p.text{
            line-height: 18px;
            text-align: center;
        }
        .ui-btn-row{
            padding-top: 20px;
            &.on li{
                width: 100%;
            }
            ul>li{
                &.cancle{
                    display: none;
                }
            }
            .ui-btn{
                .input();
                background-color: @color;
                color: @white;
                font-size: @font14 + 2;
                border: none;
                border-radius: 3px;
                .btnAppearance();
            }
        }
    }
}