@charset 'utf-8';

/*reset.css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	overflow-y: scroll;
	font-size: 14px;
}
body, input {
	// line-height: 1.2;
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"微软雅黑","黑体";
}
::-webkit-input-placeholder{
    opacity: .5;
}
ol, ul {
	list-style: none;
}
img{
	border: 0;
	-ms-interpolation-mode: bicubic;
}
a{
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, 
blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:before,
.clearfix:after{
    content:".";
    display:block;
    height:0;
    line-height: 0;
    visibility:hidden
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom:1;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.focus{
    background-color: @white;
	border-color: #0d679f;
}

/*comment*/

/*header*/

.box-sizing(){
	box-sizing: border-box;
}

.icon(){
	display: inline-block;
	background: url('../images/icons-base.png') no-repeat;
	background-size: 200px 300px;
}

@white: #fff;
@font: 14px;

.ui-add(){
	@bgc: #999;
	width: 12px;
	height: 2px;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	right: 14px;
	background-color: @bgc;
	&:after{
		content: '';
		width: 12px;
		height: 2px;
		background-color: @bgc;
		position: absolute;
		top: 0;
		left: 0;
		transition: .2s ease-in-out;
		transform: rotate(90deg);
	}
}

/* nav */ 
.ui-header{
	@color: #053676;
	.bgc(){
		background-color: @white;
	}
	background-color: @color;
	position: relative;
	z-index: 10;
	.ui-header-nav{
		.bgc();
		z-index: 10;
		border-bottom-right-radius: 14px;
		box-shadow: 0 3px 3px rgba(50, 50, 50, .5);
		h1{
			width: 50%;
			box-sizing: border-box;
			a{
				padding: 10px 0 10px 13px;
				display: block;
			}
		}
		ul{
			width: 50%;
			padding: 0 4px 0 18px;
			box-sizing: border-box;
			float: left;
			li{
				width: 25%;
				text-align: center;
				float: left;
			}
			.cart{
				position: relative;
			}
			a{
				display: block;
				padding: 11px 10px;
			}
			.icon-cart{
				.icon();
				width: 20px;
				height: 17px;
				position: relative;
			}
			.num{
				padding: 2px 3px;
				position: absolute;
				top: 6px;
				left: -5px;
				color: @white;
				font-size: 9px;
				background-color: #1a8bd1;
				border-radius: 5px;
			}
			.icon-user{
				.icon();
				width: 14px;
				height: 17px;
				background-position: -40px 0;
			}
			.icon-search{
				.icon();
				width: 17px;
				height: 17px;
				background-position: -80px 0;
			}
			.icon-menu{
				.icon();
				width: 17px;
				height: 17px;
				background-position: -120px 0;
			}
		}
		
	}

	p{
		color: @white;
		font-size: 12px;
		padding: 6px 12px;
		box-shadow: 0 2px 3px rgba(50, 50, 50, .4);
	}
	/* search */ 
	.ui-header-search{
		.bgc();
		.box-sizing();
		padding: 6px 38px 5px 13px;
		position: relative;
		border-bottom-right-radius: 14px;
		box-shadow: 0 3px 3px rgba(50, 50, 50, .5);
		display: none;
		input{
			.box-sizing();
			width: 100%;
			height: 28px;
			padding: 0 32px 0 8px;
			border: 1px solid #cccedb;
			border-radius: 2px;
			font-size: 14px;
		}
		span{
			padding: 8px;
			position: absolute;
		}
		.search-btn{
			top: 4px;
			right: 38px;
		}
		.icon-search-blue{
			.icon();
			width: 15px;
			height: 14px;
			background-position: -80px -30px;
		}
		.close-btn{
			top: 4px;
			right: 3px;
		}
		.icon-close{
			.icon();
			width: 14px;
			height: 14px;
			background-position: -120px -30px;
		}

	}
}

/* menu */
.ui-menu{
	width: 100%;
	position: absolute;
	top: 39px;
	left: 0;
	color: @white;
	z-index: 111;
	background-color: #053676;
	display: none;
	.category {
		h3{
			height: 36px;
			line-height: 36px;
			padding: 0 13px;
			position: relative;
			font-size: @font;
			border-bottom: 1px solid #1a4781;
		}
		.ui-add{
			@bg:rgba(255, 255, 255, .4);
			.ui-add();
			background: @bg;
			&:after{
				background: @bg;
			}
		}
		.on:after{
			transform: rotate(0deg);
		}
		ul{
			background-color: #375e91;
			display: none;
			a{
				display: block;
				height: 36px;
				line-height: 36px;
				padding: 0 40px;
				position: relative;
				border-bottom: 1px solid #466a99;
				color: @white;
				font-size: @font;
				&.current{
					background-color: #0f4679;
				}
			}
			.icon-arrow-white{
				.icon();
				position: absolute;
				top: 13px;
				right: 15px;
				width: 6px;
				height: 13px;
				background-position: -40px -30px;
			}
		}
	}
	.service{
		li{
			height: 36px;
			line-height: 36px;
			padding: 0 13px;
			position: relative;
			border-bottom: 1px solid #1a4781;
		}
		a{
			font-size: @font;
			color: @white;
		}
	}
	.logo{
		padding: 30px 0;
		img{
			width: 56px;
			display: block;
			margin: 0 auto;
		}
	}
}

/*footer*/
.ui-footer{
	.opacity (@opacity: 0.5){
		opacity: @opacity;
	}
	/* ASQ */ 
	.ui-footer-question{
		@bdcolor: #ddd;
		border-top: 1px solid @bdcolor;
		h3{
			height: 40px;
			line-height: 40px;
			padding: 0 12px;
			font-size: 14px;
			font-weight: normal;
			position: relative;
			border-bottom: 1px solid @bdcolor;
			background-color: #f0f1f2;
		}
		.ui-add{
			.ui-add();
		}
		.on:after{
			transform: rotate(0deg);
		}
		ul{
			background-color: #f0f1f2;
			display: none;
			li{
				height: 35px;
				line-height: 35px;
				padding: 0 20px;
				border-bottom: 1px solid @bdcolor;
			}
			a{
				color: #000;
				display: block;
				font-size: 14px;
			}
		}
	}

	/* Other illustrate */ 
	.ui-footer-illustrate{
		@bgcolor: #0d679f;
		@color: #fff;
		padding: 30px 12px 18px;
		color: @color;
		font-size: 12px;
		background-color: @bgcolor;
		box-sizing: border-box;
		text-align: center;
		.logo, .online{
			padding-bottom: 10px;
		}
		img{
			width: 37px;
			margin: 0 auto;
		}
		a{
			color: @color;
		}
		.online{
			a{
				padding: 5px;
				display: inline-block;
				font-size: 12px;
			}
			.icon-chat{
				width: 15px;
				height: 11px;
				display: inline-block;					
				background: url('../images/icons-base.png') no-repeat 0 -30px;
				background-size: 200px 300px;
				margin-right: 5px;
    			margin-bottom: -1px;
			}
		}
		.tell, .link, .copyright{
			.opacity(.6);
		}
		.tell{
			padding: 14px 0 10px;
			a{
				padding: 4px 0;
				display: block;
			}
		}
		.link{
			li{
				display: inline-block;
				font-size: 12px;
				border-right: 1px solid @color;
				padding: 2px 4px;
				&:last-child{
					border-right: 0;
				}
			}
			a{
				padding: 4px 0;
			}
		}
		.copyright{
			padding-top: 11px;
			p{
				padding-top: 5px;
			}
		}

	}
}
