@charset 'utf-8';

/*content*/
 
// home con

@color: #999;
@white: #fff;

.ui-home-con{
    background-color: #f0f1f2;
    h3{
        padding-bottom: 20px;
        font-size: 16px;
        font-weight: normal;
        span{
            padding-left: 5px;
            color: @color;
            font-size: 12px;
        }
    }

    .e-scroll-ctr{
        width: 100%;
        // overflow: scroll;
        overflow: hidden;
        ul{
            width: 800px;
            li{
                margin: 0 15px;
            }
            a{
                display: block;
                width: 100px;
                img{
                    width: 100%;
                }
            }
            .price,
            .name{
                height: 32px;
                line-height: 16px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-size: 12px;
                color: #000;
            }
            .price{
                color: #0d679f;
                padding-top: 6px;
            }
        }
    }

    .ui-home-slider{
        background-color: @white;
        padding-bottom: 25px;
        max-width: 640px;
        position: relative;
        .flex-viewport{
            position: relative;
            z-index: 0;
            img{
                width: 100%;
                vertical-align: top;
                background: url('../images/loading.gif') center center no-repeat;
            }
        }
        
    }

    .flexslider{
        ol{
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            li{
                float: left;
                border-radius: 50%;
                background-color: #ccc;
                margin: 0 3px;
                text-indent: -9999px;
                a{
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                }
            }
            .flex-active{
                background-color: #0d679f;
            }
        }
    }

    .ui-home-new-rec{
        padding: 12px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e3e3e3;
        background-color: @white;

    }
    .ui-home-star-pro{
        padding-bottom: 21px;
        background-color: @white;
        margin-bottom: 10px;
        border-bottom: 1px solid #e3e3e3;
        border-top: 1px solid #e3e3e3;
        h3{
            padding: 15px 13px 6px;
        }
        .swiper-container{
            width: 100%;
            height: 235px;
            overflow: hidden;
            .swiper-wrapper{
                width: 735px;
                img{
                    height: 235px;
                }
                .swiper-slide{
                    margin: 0 10px;
                    float: left;
                }
            }
        }
    }
    

    .ui-home-accurate-search{
        padding: 0 13px;
        background-color: @white;
        margin-bottom: 10px;
        border-bottom: 1px solid #e3e3e3;
        h4{
            padding-top: 11px;
            font-weight: 400;
            font-size: 14px;
        }
        .price-con{
            width: 100%;
            height: 1px;
            padding: 0 6%;
            margin: 20px 0 20px;
            position: relative;
            background-color: #ccc;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            .price-control{
                width: 88%;
                height: 1px;
                position: absolute;
                top: 0;
                left: 6%;
                z-index: 1;
                background-color: #ccc;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                .bar{
                    position: absolute;
                    width: 153px;
                    top: -1px;
                    height: 3px;
                    background-color: #0d679f;
                    .leftGrip{
                        
                        left: 18px;
                    }
                    .rightGrip{
                        left: 114px;
                    }
                }
                .leftGrip,
                .rightGrip{
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: -9px;
                    left: 0;
                    text-align: center;
                }
                
                .leftpointer,
                .rightpointer{
                    width: 6px;
                    height: 6px;
                    border: 6px solid #cbdae8;
                    background-color: #0d679f;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                }
            }
            ul{
                position: absolute;
                width: 88%;
                top: -4px;
                left: 6%;
                z-index: 0;
                li{
                    width: 25%;
                    float: left;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    em{
                        display: block;
                        height: 4px;
                        border-left: 1px solid #ccc;
                    }
                    p:last-child em{
                        border-left: none;
                        border-right: 1px solid #ccc;
                    }
                    span{
                        display: block;
                        padding-top: 8px;
                        font-size: 12px;
                        color: #999;
                        text-indent: -0.5em;
                    }
                    &:last-child p:first-child{
                        float: left;
                    }
                    &:last-child p:last-child{
                        float: right;
                    }
                }
            }
        }
        .ui-home-type-slt{
            padding-bottom: 13px;
            ul{
                padding: 10px 0;
                display: flex;
                justify-content: space-around;                
                li{
                    font-size: 12px;
                    box-sizing: border-box;
                }
                p{
                    display: inline-block;
                    height: 26px;
                    line-height: 26px;
                    padding: 0 5px;
                    background-color: #f0f1f2;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    &.active{
                        color: #0d679f;
                        border: 1px solid #26669f;
                        background-color: @white;
                    }
                }
            }
            .ui-btn{
                width: 100%;
                height: 40px;
                padding: 0 15px;
                color: @white;
                font-size: 16px;
                border-radius: 3px;
                background-color: #0d679f;
                box-sizing: border-box;
                border: none;
                appearance:none;
                -moz-appearance:none;
                -webkit-appearance:none;
            }
        }
    }
    
    .ui-home-hot-pro{
        padding: 0 13px;
        background-color: #fff;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        h3{
            padding: 15px 0 6px;
            font-size: 16px;
            font-weight: normal;
        }
        li{
            padding: 13px 0 4px;
            border-bottom: 1px dashed #d6d6d6;
            a{
                width: 100%;
                display: table;
                position: relative;
            }
            .tag{
                position: absolute;
                top: 7px;
                left: 0;
                width: 15px;
                height: 15px;
                line-height: 15px;
                color: #fff;
                text-align: center;
                background-color: #0d679f;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
            }
            .first{
                background-color: #ff1d1d
            }
            .second{
                background-color: #e06d1d;
            }
            .img{
                display: table-cell;
                width: 92px;
                vertical-align: middle;
                img{
                    width: 100%;
                }
            }
            .text{
                padding-left: 8px;
                display: table-cell;
                vertical-align: middle;
                font-size: 14px;
                color: #000;
            }
        }
    }

    .ui-home-video{
        padding: 16px 13px 52px;
        text-align: center;
        background-color: @white;
        font-size: 16px;
        a{
            display: block;
        }
        img{
            width: 72.5%;
            margin: 0 auto;
        }
        p{
            padding: 10px 0;
        }
        .ui-bottom-video{
            margin-top: 20px;
        }
    }

}





