@charset 'utf-8';
/*content*/
.ui-home-con {
  background-color: #f0f1f2;
}
.ui-home-con h3 {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
}
.ui-home-con h3 span {
  padding-left: 5px;
  color: #999;
  font-size: 12px;
}
.ui-home-con .e-scroll-ctr {
  width: 100%;
  overflow: hidden;
}
.ui-home-con .e-scroll-ctr ul {
  width: 800px;
}
.ui-home-con .e-scroll-ctr ul.transitionAll {
  -webkit-transition: all 0.5s;
}
.ui-home-con .e-scroll-ctr ul li {
  margin: 0 15px;
  float: left;
}
.ui-home-con .e-scroll-ctr ul a {
  display: block;
  width: 100px;
}
.ui-home-con .e-scroll-ctr ul a img {
  width: 100%;
}
.ui-home-con .e-scroll-ctr ul .price,
.ui-home-con .e-scroll-ctr ul .name {
  height: 32px;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
  color: #000;
}
.ui-home-con .e-scroll-ctr ul .price {
  color: #0d679f;
  padding-top: 6px;
}
.ui-home-con .ui-home-slider {
  background-color: #fff;
  padding-bottom: 25px;
  max-width: 640px;
  position: relative;
}
.ui-home-con .ui-home-slider .flex-viewport {
  position: relative;
  z-index: 0;
}
.ui-home-con .ui-home-slider .flex-viewport img {
  width: 100%;
  vertical-align: top;
  background: url('../images/loading.gif') center center no-repeat;
}
.ui-home-con .flexslider ol {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.ui-home-con .flexslider ol li {
  float: left;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 3px;
  text-indent: -9999px;
}
.ui-home-con .flexslider ol li a {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.ui-home-con .flexslider ol .flex-active {
  background-color: #0d679f;
}
.ui-home-con .ui-home-new-rec {
  padding: 12px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
  background-color: #fff;
}
.ui-home-con .ui-home-star-pro {
  padding-bottom: 21px;
  background-color: #fff;
  margin-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
}
.ui-home-con .ui-home-star-pro h3 {
  padding: 15px 13px 6px;
}
.ui-home-con .ui-home-star-pro .swiper-container {
  width: 100%;
  height: 235px;
  overflow: hidden;
}
.ui-home-con .ui-home-star-pro .swiper-container .swiper-wrapper {
  width: 735px;
}
.ui-home-con .ui-home-star-pro .swiper-container .swiper-wrapper img {
  height: 235px;
}
.ui-home-con .ui-home-star-pro .swiper-container .swiper-wrapper .swiper-slide {
  margin: 0 10px;
  float: left;
}
.ui-home-con .ui-home-accurate-search {
  padding: 0 13px;
  background-color: #fff;
  margin-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
}
.ui-home-con .ui-home-accurate-search h4 {
  padding-top: 11px;
  font-weight: 400;
  font-size: 14px;
}
.ui-home-con .ui-home-accurate-search .price-con {
  width: 100%;
  height: 1px;
  padding: 0 6%;
  margin: 20px 0 20px;
  position: relative;
  background-color: #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-home-con .ui-home-accurate-search .price-con .price-control {
  width: 88%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 6%;
  z-index: 1;
  background-color: #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-home-con .ui-home-accurate-search .price-con .price-control .bar {
  position: absolute;
  width: 153px;
  top: -1px;
  height: 3px;
  background-color: #0d679f;
}
.ui-home-con .ui-home-accurate-search .price-con .price-control .bar .leftGrip {
  left: 18px;
}
.ui-home-con .ui-home-accurate-search .price-con .price-control .bar .rightGrip {
  left: 114px;
}
.ui-home-con .ui-home-accurate-search .price-con .price-control .leftGrip,
.ui-home-con .ui-home-accurate-search .price-con .price-control .rightGrip {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -9px;
  left: 0;
  text-align: center;
}
.ui-home-con .ui-home-accurate-search .price-con .price-control .leftpointer,
.ui-home-con .ui-home-accurate-search .price-con .price-control .rightpointer {
  width: 6px;
  height: 6px;
  border: 6px solid #cbdae8;
  background-color: #0d679f;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.ui-home-con .ui-home-accurate-search .price-con ul {
  position: absolute;
  width: 88%;
  top: -4px;
  left: 6%;
  z-index: 0;
}
.ui-home-con .ui-home-accurate-search .price-con ul li {
  width: 25%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-home-con .ui-home-accurate-search .price-con ul li em {
  display: block;
  height: 4px;
  border-left: 1px solid #ccc;
}
.ui-home-con .ui-home-accurate-search .price-con ul li p:last-child em {
  border-left: none;
  border-right: 1px solid #ccc;
}
.ui-home-con .ui-home-accurate-search .price-con ul li span {
  display: block;
  padding-top: 8px;
  font-size: 12px;
  color: #999;
  text-indent: -0.5em;
}
.ui-home-con .ui-home-accurate-search .price-con ul li:last-child p:first-child {
  float: left;
}
.ui-home-con .ui-home-accurate-search .price-con ul li:last-child p:last-child {
  float: right;
}
.ui-home-con .ui-home-accurate-search .ui-home-type-slt {
  padding-bottom: 13px;
}
.ui-home-con .ui-home-accurate-search .ui-home-type-slt ul {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}
.ui-home-con .ui-home-accurate-search .ui-home-type-slt ul li {
  font-size: 12px;
  box-sizing: border-box;
}
.ui-home-con .ui-home-accurate-search .ui-home-type-slt ul p {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 5px;
  background-color: #f0f1f2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-home-con .ui-home-accurate-search .ui-home-type-slt ul p.active {
  color: #0d679f;
  border: 1px solid #26669f;
  background-color: #fff;
}
.ui-home-con .ui-home-accurate-search .ui-home-type-slt .ui-btn {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  background-color: #0d679f;
  box-sizing: border-box;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.ui-home-con .ui-home-hot-pro {
  padding: 0 13px;
  background-color: #fff;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.ui-home-con .ui-home-hot-pro h3 {
  padding: 15px 0 6px;
  font-size: 16px;
  font-weight: normal;
}
.ui-home-con .ui-home-hot-pro li {
  padding: 13px 0 4px;
  border-bottom: 1px dashed #d6d6d6;
}
.ui-home-con .ui-home-hot-pro li a {
  width: 100%;
  display: table;
  position: relative;
}
.ui-home-con .ui-home-hot-pro li .tag {
  position: absolute;
  top: 7px;
  left: 0;
  width: 15px;
  height: 15px;
  line-height: 15px;
  color: #fff;
  text-align: center;
  background-color: #0d679f;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.ui-home-con .ui-home-hot-pro li .first {
  background-color: #ff1d1d;
}
.ui-home-con .ui-home-hot-pro li .second {
  background-color: #e06d1d;
}
.ui-home-con .ui-home-hot-pro li .img {
  display: table-cell;
  width: 92px;
  vertical-align: middle;
}
.ui-home-con .ui-home-hot-pro li .img img {
  width: 100%;
}
.ui-home-con .ui-home-hot-pro li .text {
  padding-left: 8px;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  color: #000;
}
.ui-home-con .ui-home-video {
  padding: 16px 13px 52px;
  text-align: center;
  background-color: #fff;
  font-size: 16px;
}
.ui-home-con .ui-home-video a {
  display: block;
}
.ui-home-con .ui-home-video img {
  width: 72.5%;
  margin: 0 auto;
}
.ui-home-con .ui-home-video p {
  padding: 10px 0;
}
.ui-home-con .ui-home-video .ui-bottom-video {
  margin-top: 20px;
}
