@charset 'utf-8';
/*模态框*/
.ui-com-pop {
  display: none;
  width: 100%;
  padding: 0 40px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1111;
}
.ui-com-pop .ui-com-pop-con {
  width: 100%;
  background-color: #fff;
  padding: 18px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-com-pop .ui-com-pop-con .ui-pop-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.ui-com-pop .ui-com-pop-con .ui-pop-close .icon-pop-close {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url('../images/icons-base.png') no-repeat;
  background-size: 200px 300px;
  background-position: -120px -60px;
}
.ui-com-pop .ui-com-pop-con h3.title {
  padding-bottom: 12px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}
.ui-com-pop .ui-com-pop-con p.text {
  line-height: 18px;
  text-align: center;
}
.ui-com-pop .ui-com-pop-con .ui-btn-row {
  padding-top: 20px;
}
.ui-com-pop .ui-com-pop-con .ui-btn-row.on li {
  width: 100%;
}
.ui-com-pop .ui-com-pop-con .ui-btn-row ul > li.cancle {
  display: none;
}
.ui-com-pop .ui-com-pop-con .ui-btn-row .ui-btn {
  background-color: #fff;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #cccedb;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  background-color: #0d679f;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.ui-com-sub-nav {
  padding: 8px 13px;
  color: #ccc;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-com-sub-nav .breadcrumb {
  padding: 0;
  background-color: #fff;
  margin: 0;
}
.ui-com-sub-nav .breadcrumb > li + li:before {
  padding: 0;
  color: #ccc;
  content: ">";
}
.ui-com-sub-nav li > a {
  display: inline;
  padding: 0 4px;
  font-size: 11px;
}
.ui-com-sub-nav li > a:hover,
.ui-com-sub-nav li > a:focus {
  color: #333;
  text-decoration: none;
}
.ui-product-banner ul > li > a {
  display: block;
}
.ui-product-banner ul > li > a img {
  width: 100%;
  display: block;
}
.ui-product-con {
  position: relative;
}
.ui-product-con .ui-product-conditions {
  position: relative;
}
.ui-product-con .ui-product-conditions .ui-product-con-btn {
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.ui-product-con .ui-product-conditions .ui-product-con-btn ul > li {
  width: 50%;
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
}
.ui-product-con .ui-product-conditions .ui-product-con-btn ul > li.active {
  color: #e06d1d;
}
.ui-product-con .ui-product-conditions .ui-product-con-btn ul > li.active i {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transform: rotate(-180deg);
  transition: all ease .2s;
  -webkit-transition: all ease .2s;
  -moz-transition: all ease .2s;
  border-top-color: #e06d1d;
}
.ui-product-con .ui-product-conditions .ui-product-con-btn ul > li .icon-arrow-down {
  margin-bottom: 2px;
  margin-left: 2px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 4px solid #333;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con {
  width: 100%;
  background: #fff;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 20;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-sort {
  border-top: 1px solid #ccc;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-sort ul > li {
  padding: 10px 70px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-sort ul > li.active {
  color: #e06d1d;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-filter {
  border-top: 1px solid #ccc;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-filter ul {
  padding: 16px 13px;
  border-bottom: 1px solid #f4f4f4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-filter ul li {
  float: left;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-filter ul li:first-child {
  width: 30%;
  height: 25px;
  line-height: 25px;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-filter ul li:last-child {
  width: 70%;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-filter ul li:last-child input {
  width: 47%;
  height: 25px;
  line-height: 25px;
  background: #eee;
  display: inline-block;
  padding: 0 5px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-filter ul li:last-child span {
  margin: 0 2px;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-filter ul li input.text {
  width: 100%;
  height: 25px;
  line-height: 25px;
  background: #eee;
  display: inline-block;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-filter .ui-confirm-btn {
  padding: 16px 13px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-conditions .ui-sort-filter-con .ui-product-filter .ui-confirm-btn input {
  height: 30px;
  line-height: 30px;
  width: 88px;
  color: #fff;
  background: #0d679f;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
}
.ui-product-con .ui-product-filter-con {
  position: relative;
  padding-top: 36px;
  background-color: #fff;
}
.ui-product-con .ui-product-filter-con .ui-filter-con-btn {
  width: 100%;
  position: absolute;
  top: 1px;
  left: 0;
  background-color: #fff;
  z-index: 10;
}
.ui-product-con .ui-product-filter-con .ui-filter-con-btn .ui-filter-btn-sec {
  width: 100%;
  line-height: 36px;
  overflow: hidden;
}
.ui-product-con .ui-product-filter-con .ui-filter-con-btn .ui-filter-btn-sec ul {
  height: 36px;
  padding-left: 13px;
  position: relative;
  width: 150%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-filter-con .ui-filter-con-btn .ui-filter-btn-sec ul.transitionAll {
  -webkit-transition: all 0.5s;
}
.ui-product-con .ui-product-filter-con .ui-filter-con-btn .ui-filter-btn-sec ul li {
  margin-right: 9px;
  float: left;
  position: relative;
  height: 36px;
  line-height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-filter-con .ui-filter-con-btn .ui-filter-btn-sec ul li.active {
  border-bottom: 1px solid #fff;
}
.ui-product-con .ui-product-filter-con .ui-filter-con-btn .ui-filter-btn-sec ul li.active p {
  background-color: #fff;
  color: #e06d1d;
  border: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  padding: 3px 5px 6px 5px;
  position: relative;
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  height: 33px;
}
.ui-product-con .ui-product-filter-con .ui-filter-con-btn .ui-filter-btn-sec ul p {
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  background: #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 5px;
}
.ui-product-con .ui-product-filter-con .ui-filter-con-btn .scroll {
  height: 36px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.ui-product-con .ui-product-filter-con .ui-filter-con-btn .border-bottom {
  height: 36px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.ui-product-con .ui-product-filter-con .ui-filter-con-btn .border:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
}
.ui-product-con .ui-product-filter-con .ui-filter-chose-all {
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 9;
  width: 100%;
}
.ui-product-con .ui-product-filter-con .ui-filter-chose-all .ui-filter-con-chose {
  background: #fff;
  border-top: 1px solid #ccc;
  display: none;
}
.ui-product-con .ui-product-filter-con .ui-filter-chose-all .ui-filter-con-chose ul {
  border-bottom: 1px solid #f7f7f7;
  padding: 20px 13px 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-filter-con .ui-filter-chose-all .ui-filter-con-chose ul li {
  width: 50%;
  float: left;
  margin-bottom: 14px;
}
.ui-product-con .ui-product-filter-con .ui-filter-chose-all .ui-filter-con-chose ul li.active p {
  border: 1px solid #e06d1d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.ui-product-con .ui-product-filter-con .ui-filter-chose-all .ui-filter-con-chose ul li.active p i {
  display: block;
}
.ui-product-con .ui-product-filter-con .ui-filter-chose-all .ui-filter-con-chose ul p {
  position: relative;
  padding: 2px 12px;
  display: inline-block;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-filter-con .ui-filter-chose-all .ui-filter-con-chose ul .icon-chose {
  height: 12px;
  width: 12px;
  position: absolute;
  bottom: -2px;
  right: -2px;
  display: inline-block;
  background: url('../images/icons-base.png') no-repeat;
  background-size: 200px 300px;
  background-position: 0 -90px;
  display: none;
}
.ui-product-con .ui-product-filter-con .ui-filter-chose-all .ui-filter-con-chose .ui-confirm-btn {
  padding: 16px 13px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-filter-con .ui-filter-chose-all .ui-filter-con-chose .ui-confirm-btn input {
  width: 100%;
  height: 37px;
  line-height: 37px;
  color: #fff;
  background-color: #0d679f;
  font-size: 14px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
}
.ui-product-con .ui-product-wall {
  padding: 0 13px;
  background: #eee;
  margin-bottom: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-wall h3 {
  font-weight: normal;
  color: #333;
  padding: 12px 0 8px 0;
  font-size: 12px;
}
.ui-product-con .ui-product-wall ul {
  width: 100%;
}
.ui-product-con .ui-product-wall ul li {
  width: 50%;
  float: left;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-wall ul li:nth-child(odd) {
  padding-right: 4px;
}
.ui-product-con .ui-product-wall ul li:nth-child(even) {
  padding-left: 4px;
}
.ui-product-con .ui-product-wall ul a {
  display: block;
  background: #fff;
}
.ui-product-con .ui-product-wall ul a img {
  width: 100%;
}
.ui-product-con .ui-product-wall ul a:hover,
.ui-product-con .ui-product-wall ul a:focus {
  color: #333;
  text-decoration: none;
}
.ui-product-con .ui-product-wall p.name {
  height: 32px;
  padding: 0 8px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-wall .ui-pdpwall-price-last {
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-wall .ui-pdpwall-price-last .price {
  padding: 7px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-wall .ui-pdpwall-price-last .price span {
  font-size: 14px;
  color: #ea8405;
  margin-right: 5px;
}
.ui-product-con .ui-product-wall .ui-pdpwall-price-last .price-sale {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-product-con .ui-product-wall .ui-pdpwall-price-last .price-sale span {
  font-size: 8px;
  text-decoration: line-through;
  color: #ea8405;
  margin-right: 5px;
}
.ui-product-con .ui-product-wall .ui-pdpwall-price-last .price-member {
  font-size: 12px;
  color: #022d93;
  font-weight: bold;
  padding-bottom: 8px;
}
body .ui-product-bg {
  height: 100%;
  width: 100%;
  padding-bottom: 275px;
  position: absolute;
  top: 32px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7;
  display: none;
}
