@charset 'utf-8';
.ui-register-con {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 13px 20px;
  margin-bottom: 100px;
  padding-bottom: 0;
}
.ui-register-con h3 {
  font-size: 18px;
  color: #333;
  text-align: center;
  font-weight: normal;
  padding: 20px 0 16px 0;
}
.ui-register-con .ui-form-list {
  background-color: #fff;
}
.ui-register-con .ui-form-list li {
  padding-bottom: 17px;
}
.ui-register-con .inform-longlabel {
  display: block;
  padding-bottom: 5px;
  color: #b9bbc7;
  font-size: 14px;
}
.ui-register-con .ui-slt {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: relative;
  font-size: 14px;
  color: #333;
  border: 1px solid #cccedb;
  background-color: #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-register-con .ui-slt p {
  height: 47px;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ui-register-con .ui-slt select {
  width: 100%;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
}
.ui-register-con .ui-slt:after {
  content: '';
  position: absolute;
  top: 16px;
  right: 9px;
  width: 10px;
  height: 6px;
  background: url('../images/icons-base.png') -80px -90px no-repeat;
  background-size: 200px 300px;
}
.ui-register-con .questionDIV li,
.ui-register-con .emailDIV li,
.ui-register-con .mobilelDIV li {
  padding-bottom: 17px;
}
.ui-register-con .questionDIV .ui-input,
.ui-register-con .emailDIV .ui-input,
.ui-register-con .mobilelDIV .ui-input {
  background-color: #fff;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #cccedb;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-register-con .questionDIV .hint,
.ui-register-con .emailDIV .hint,
.ui-register-con .mobilelDIV .hint {
  display: block;
  padding-top: 5px;
  color: #e98300;
  font-size: 14px;
  display: none;
}
.ui-register-con .questionDIV .hint i,
.ui-register-con .emailDIV .hint i,
.ui-register-con .mobilelDIV .hint i {
  margin-right: 3px;
}
.ui-register-con .questionDIV .ui-login-val,
.ui-register-con .emailDIV .ui-login-val,
.ui-register-con .mobilelDIV .ui-login-val {
  position: relative;
}
.ui-register-con .questionDIV .ui-login-val p,
.ui-register-con .emailDIV .ui-login-val p,
.ui-register-con .mobilelDIV .ui-login-val p {
  padding-right: 64px;
}
.ui-register-con .questionDIV .ui-login-val img,
.ui-register-con .emailDIV .ui-login-val img,
.ui-register-con .mobilelDIV .ui-login-val img {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
}
.ui-register-con .questionDIV .ui-btn,
.ui-register-con .emailDIV .ui-btn,
.ui-register-con .mobilelDIV .ui-btn {
  background-color: #f0f1f2;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
}
.ui-register-con .questionDIV .info,
.ui-register-con .emailDIV .info,
.ui-register-con .mobilelDIV .info {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
}
.ui-register-con .questionDIV button,
.ui-register-con .emailDIV button,
.ui-register-con .mobilelDIV button {
  color: #fff;
  background-color: #0d679f;
  border: none;
  height: 37px;
  width: 40%;
  text-align: center;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
}
.ui-register-con .questionDIV .ui-cancel,
.ui-register-con .emailDIV .ui-cancel,
.ui-register-con .mobilelDIV .ui-cancel {
  background-color: #fff;
  border: 1px solid #cccedb;
  color: #000;
}
.ui-register-con .questionDIV .tip,
.ui-register-con .emailDIV .tip,
.ui-register-con .mobilelDIV .tip {
  display: block;
  font-size: 14px;
  padding-top: 9px;
}
.ui-register-con .questionDIV .ui-password-btn,
.ui-register-con .emailDIV .ui-password-btn,
.ui-register-con .mobilelDIV .ui-password-btn {
  margin-top: 23px;
}
.ui-register-con .questionDIV .ui-password-btn .ui-buttom,
.ui-register-con .emailDIV .ui-password-btn .ui-buttom,
.ui-register-con .mobilelDIV .ui-password-btn .ui-buttom {
  display: flex;
  justify-content: space-between;
}
.ui-register-con .questionDIV .ui-password-btn .ui-top,
.ui-register-con .emailDIV .ui-password-btn .ui-top,
.ui-register-con .mobilelDIV .ui-password-btn .ui-top {
  display: flex;
  justify-content: space-between;
  display: none;
}
.ui-register-con .questionDIV .ui-password-btn .cancel,
.ui-register-con .emailDIV .ui-password-btn .cancel,
.ui-register-con .mobilelDIV .ui-password-btn .cancel {
  background-color: #fff;
  color: #000;
  border: 1px solid #cccedb;
}
.ui-register-con .questionDIV .num,
.ui-register-con .emailDIV .num,
.ui-register-con .mobilelDIV .num {
  display: none;
}
