@charset 'utf-8';

.icon(){
	display: inline-block;
	background: url('../images/icons-base.png') no-repeat;
	background-size: 200px 300px;
}

.ui-register-con{
    @white: #fff;
    @font14: 14px;
    .box(){
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .input(){
        background-color: @white;
        width: 100%;
        height: 40px;
        padding: 0 10px;
        font-size: @font14;
        border: 1px solid #cccedb;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        // border: none;
    }
    
    .box();
    padding: 0 13px 20px;
    margin-bottom: 52px;
    padding-bottom: 0;
    h3{
        font-size: 18px;
        color: #333;
        text-align: center;
        font-weight: normal;
        padding: 20px 0 16px 0;
    }
    .ui-form-list{
        background-color: @white;
        li{
            padding-bottom: 17px;
        }
        .ui-input{
            .input();
        }
        .hint{
            display: block;
            padding-top: 5px;
            color: #e98300;
            font-size: @font14;
            display: none;
            i{
                margin-right: 3px;
            }
        }
        .ui-login-val{
            position: relative;
            p{
                padding-right: 64px;
            }
            img{
                width: 60px;
                height: 40px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .mgs{
            width: 66%;
        }
        .ui-btn{
            width: 30%;
            height: 40px;
            float: right;
            font-size: @font14;
            background-color: #0d679f;
            border-radius: 3px;
            box-shadow: none;
            border: none;
            color: @white;
        }
        .ui-register-radio{
            padding-top: 11px;
            span{
                float: left;
                color: #888b9c;
                font-size: @font14;
            }
            .icon-slt-square{
                width: 15px;
                height: 15px;
                .icon();
                background-position: -160px -90px;
                margin-bottom: -3px;
                margin-right: 6px;
            }
            a{
                float: right;
                color: #0d679f;
                text-decoration: underline;
                font-size: @font14;
            }
        }
    }
    .ui-reg{
        margin: 18px 0 9px 0;
        font-size: @font14 + 2;
        height: 42px;
        line-height: 42px;
        width: 100%;
        color: @white;
        background-color: #0d679f;
        border-radius: 3px;
        box-shadow: none;
        border: none;
    }
}



