@charset 'utf-8';
.ui-register-con {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 13px 20px;
  margin-bottom: 52px;
  padding-bottom: 0;
}
.ui-register-con h3 {
  font-size: 18px;
  color: #333;
  text-align: center;
  font-weight: normal;
  padding: 20px 0 16px 0;
}
.ui-register-con .ui-form-list {
  background-color: #fff;
}
.ui-register-con .ui-form-list li {
  padding-bottom: 17px;
}
.ui-register-con .ui-form-list .ui-input {
  background-color: #fff;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #cccedb;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.ui-register-con .ui-form-list .hint {
  display: block;
  padding-top: 5px;
  color: #e98300;
  font-size: 14px;
  display: none;
}
.ui-register-con .ui-form-list .hint i {
  margin-right: 3px;
}
.ui-register-con .ui-form-list .ui-login-val {
  position: relative;
}
.ui-register-con .ui-form-list .ui-login-val p {
  padding-right: 64px;
}
.ui-register-con .ui-form-list .ui-login-val img {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
}
.ui-register-con .ui-form-list .mgs {
  width: 55%;
}
.ui-register-con .ui-form-list .ui-btn {
  width: 40%;
  height: 40px;
  float: right;
  font-size: 14px;
  background-color: #0d679f;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  color: #fff;
}
.ui-register-con .ui-form-list .ui-register-radio {
  padding-top: 11px;
}
.ui-register-con .ui-form-list .ui-register-radio span {
  float: left;
  color: #888b9c;
  font-size: 14px;
}
.ui-register-con .ui-form-list .ui-register-radio .icon-slt-square {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url('../images/icons-base.png') no-repeat;
  background-size: 200px 300px;
  background-position: -160px -90px;
  margin-bottom: -3px;
  margin-right: 6px;
}
.ui-register-con .ui-form-list .ui-register-radio a {
  float: right;
  color: #0d679f;
  text-decoration: underline;
  font-size: 14px;
}
.ui-register-con .ui-reg {
  margin: 18px 0 9px 0;
  font-size: 16px;
  height: 42px;
  line-height: 42px;
  width: 100%;
  color: #fff;
  background-color: #0d679f;
  border-radius: 3px;
  box-shadow: none;
  border: none;
}
.ui-register-con .ui-btn {
  height: 42px;
  line-height: 42px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #0d679f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
