<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>产品列表</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/images/PHILIPSICON.ico">
    <link rel="stylesheet" href="../../../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/base.css">
    <link rel="stylesheet" href="../../assets/css/productList.css">
</head>

<body>
    <div id="overlay">
        <img src="../../assets/images/loading2.gif">
    </div>
    <!--header-->
    <header>
        <!--nav-->
        <div class="ui-header clearfix">
            <div class="ui-header-nav clearfix">
                <h1 class="fl">
                    <a href="../../../index.html">
                        <img src="../../assets/images/logo.png" height="14">
                    </a>
                </h1>
                <ul>
                    <li class='cart'>
                        <a href="../cart/cart.html">
                            <i class="icon-cart">
                                <span id="cartnumber" class="num">10</span>
                            </i>
                        </a>
                    </li>
                    <li class='user'>
                        <a href="../user/info.html">
                            <i class="icon-user"></i>
                        </a>
                    </li>
                    <li class='search e-search-btn'>
                        <a href="javascript:;">
                            <i class="icon-search"></i>
                        </a>
                    </li>
                    <li class='menu e-menu-btn' id="menu">
                        <a href="javascript:;">
                            <i class="icon-menu"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ui-header-search e-header-search">
                <form>
                    <input type="search" name="k" class="zoom-text" placeholder="您在寻找什么?">
                </form>
                <span class="search-btn">
                    <i class="icon-search-blue"></i>
                </span>
                <span class="close-btn">
                    <i class="icon-close"></i>
                </span>
            </div>
            <p>中国 官方商城</p>
        </div>

        <!--menu-->
        <div class="ui-menu e-menu-con">
            <!--category-->
            <div class="category e-menu-category">
                <div class="item">
                    <h3>个人护理<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href="./productList.html"> 男士剃须<i class='icon-arrow-white'></i></a></li>
                        <li><a href="./productList.html"> 男士造型<i class='icon-arrow-white'></i></a></li>
                        <li><a href="./productList.html"> 吹风美发<i class='icon-arrow-white'></i></a></li>
                        <li><a href="./productList.html"> 肌肤美容<i class='icon-arrow-white'></i></a></li>
                        <li><a href="./productList.html"> 电动牙刷<i class='icon-arrow-white'></i></a></li>
                        <li><a href="./productList.html"> 疼痛治疗<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>家用电器<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 织物处理<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 地板清洁<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 空气净化<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 厨房电器<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 咖啡机<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>母婴系列<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 母乳喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 婴儿喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 喂养套装<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 儿童喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 安抚喂养<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 配件系列<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 加热消毒<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 健康护理<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>

                <div class="item">
                    <h3>附件<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 剃须刀附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 电动牙刷附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 净化器和加湿器滤网<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 厨房用品附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 吸尘器附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 肌肤护理产品附件<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> Saeco咖啡机附件<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <h3>专属定制<i class="ui-add"></i></h3>
                    <ul>
                        <li><a href=""> 须刀系列<i class='icon-arrow-white'></i></a></li>
                        <li><a href=""> 牙刷系列<i class='icon-arrow-white'></i></a></li>
                    </ul>
                </div>
            </div>
            <!--FAQ-->
            <div class="service">
                <ul>
                    <li><a href="">平板电视</a></li>
                    <li><a href="">登录/注册</a></li>
                    <li><a href="">客服</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <!--menu-->
            <div class="logo">
                <img src="../../assets/images/logo-menu.png">
            </div>
        </div>
    </header>

    <!--concent-->
    <section>
        <!--Breadcrumb-->
        <div class="ui-com-sub-nav">
            <ol class="breadcrumb">
                <li><a href="/mobile">首页</a></li>
                <li class="selected"><a href="./productList.html">家用电器</a></li>
            </ol>
        </div>

        <!-- product-banner -->
        <div class="ui-product-banner">
            <ul>
                <li>
                    <a href="./productList.html"><img src="../../assets/images/product-banner1.jpg"></a>
                </li>
            </ul>
        </div>

        <!--list-->
        <div class="ui-product-con">
            <div class="ui-product-content">
                <div class="ui-product-conditions">
                    <div class="ui-product-con-btn e-product-con-btn">
                        <ul class="clearfix">
                            <li>
                                <p>排序<i class="icon-arrow-down"></i></p>
                            </li>
                            <li>
                                <p>筛选<i class="icon-arrow-down"></i></p>
                            </li>
                        </ul>
                    </div>
                    <div class="ui-sort-filter-con e-sort-filter-con">
                        <div class="ui-product-sort e-product-sort" style="display : none">
                            <ul id="sortid">
                                <li value="0">按人气</li>
                                <li value="1">按热卖</li>
                                <li value="2">按价格从低到高</li>
                                <li value="3">按价格从高到低</li>
                            </ul>
                        </div>
                        <div class="ui-product-filter" style="display : none">
                            <ul class="clearfix">
                                <li>价格区间</li>
                                <li>
                                    <input type="text" id="salePriceFrom"><span>-</span><input type="text" id="salePriceTo">
                                </li>
                            </ul>
                            <ul class="clearfix key-word">
                                <li>在结果中搜索</li>
                                <li><input type="text" class="text" id="filterKey"></li>
                            </ul>
                            <p class="ui-confirm-btn my-salePrcieAreaBtn"><input type="button" id="submitBtn" value="确定"></p>
                        </div>
                    </div>
                </div>
                <div class="ui-product-filter-con">
                    <div class="ui-filter-con-btn">
                        <div class="e-filter-con-btn ui-filter-btn-sec">
                            <ul class="clearfix">
                                <li>
                                    <p>商品分类</p>
                                </li>
                                <li>
                                    <p>干湿两用</p>
                                </li>
                                <li>
                                    <p>刀头</p>
                                </li>
                                <li>
                                    <p>电源</p>
                                </li>
                                <li>
                                    <p>剃须时间</p>
                                </li>
                                <li>
                                    <p>剃须时间</p>
                                </li>
                                <li>
                                    <p>剃须时间</p>
                                </li>
                                <li>
                                    <p>剃须时间</p>
                                </li>
                                <li>
                                    <p>剃须时间</p>
                                </li>
                                <li>
                                    <p>剃须时间</p>
                                </li>
                                <li>
                                    <p>剃须时间</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ui-filter-chose-all e-filter-chose-all">
                        <div class="ui-filter-con-chose e-filter-con-chose">
                            <ul class="clearfix">
                                <li myattr="category">
                                    <p code="coffee">咖啡机<i class="icon-chose"></i></p>
                                </li>
                                <li myattr="category">
                                    <p code="kitchen-appliances">厨房电器<i class="icon-chose"></i></p>
                                </li>
                                <li myattr="category">
                                    <p code="airpurifier">空气净化<i class="icon-chose"></i></p>
                                </li>
                                <li myattr="category">
                                    <p code="floor-cleaning">地板清洁<i class="icon-chose"></i></p>
                                </li>
                                <li myattr="category">
                                    <p code="water-purifier">净水器<i class="icon-chose"></i></p>
                                </li>
                                <li myattr="category">
                                    <p code="fabric-treatment">织物处理<i class="icon-chose"></i></p>
                                </li>
                            </ul>
                            <p class="ui-confirm-btn my-ScreeningConditions"><input type="button" value="确定"></p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ui-product-wall">
                <h3>共225件产品</h3>
                <ul class="clearfix" id="position">
                    <li>
                        <a href="./productDetails.html">
                            <p class="lazyimg">
                                <img class="lazyimg" src="../../assets/images/list1.jpg">
                            </p>
                            <p class="name">飞利浦 电水壶 HD9316/03</p>


                            <div class="ui-pdpwall-price-last">
                                <p class="price-sale"><span class="now">￥1329.00</span></p>
                                <!--<p class="price-member">会员价：￥254.25</p>-->
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./productDetails.html">
                            <p class="lazyimg">
                                <img class="lazyimg" src="../../assets/images/list2.jpg">
                            </p>
                            <p class="name">飞利浦 衣物去毛球器 GC027/00</p>


                            <div class="ui-pdpwall-price-last">
                                <p class="price-sale"><span class="now">￥1999.00</span></p>
                                <!--<p class="price-member">会员价：￥111.75</p>-->
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./productDetails.html">
                            <p class="lazyimg">
                                <img class="lazyimg" src="../../assets/images/list3.jpg">
                            </p>
                            <p class="name">飞利浦 衣物去毛球器 GC026/30</p>


                            <div class="ui-pdpwall-price-last">
                                <p class="price-sale"><span class="now">￥1999.00</span></p>
                                <!--<p class="price-member">会员价：￥74.25</p>-->
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./productDetails.html">
                            <p class="lazyimg">
                                <img class="lazyimg" src="../../assets/images/list4.jpg">
                            </p>
                            <p class="name">飞利浦 车载空气净化器 AC4030/10</p>


                            <div class="ui-pdpwall-price-last">
                                <p class="price-sale"><span class="now">￥1999.00</span></p>
                                <!--<p class="price-member">会员价：￥1124.25</p>-->
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./productDetails.html">
                            <p class="lazyimg">
                                <img class="lazyimg" src="../../assets/images/list1.jpg">
                            </p>
                            <p class="name">飞利浦 电水壶 HD9303/19</p>


                            <div class="ui-pdpwall-price-last">
                                <p class="price-sale"><span class="now">￥1999.00</span></p>
                                <!--<p class="price-member">会员价：￥119.25</p>-->
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./productDetails.html">
                            <p class="lazyimg">
                                <img class="lazyimg" src="../../assets/images/list2.jpg">
                            </p>
                            <p class="name">飞利浦 电水壶 HD9306/03</p>


                            <div class="ui-pdpwall-price-last">
                                <p class="price-sale"><span class="now">￥1999.00</span></p>
                                <!--<p class="price-member">会员价：￥149.25</p>-->
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./productDetails.html">
                            <p class="lazyimg">
                                <img class="lazyimg" src="../../assets/images/list3.jpg">
                            </p>
                            <p class="name">飞利浦 迷你电饭煲 HD3060/00</p>


                            <div class="ui-pdpwall-price-last">
                                <p class="price-sale"><span class="now">￥1999.00</span></p>
                                <!--<p class="price-member">会员价：￥374.25</p>-->
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!--模态框-->
            <div class="ui-product-bg"></div>

            <!--footer-->
            <footer>
                <div class="ui-footer">
                    <!--ASQ-->
                    <div class="ui-footer-question e-footer-question">
                        <h3>在线帮助 <i class="ui-add"></i></h3>
                        <ul>
                            <li><a href="">常见问题</a></li>
                            <li><a href="">订单说明</a></li>
                            <li><a href="">支付方式</a></li>
                            <li><a href="">货物配送</a></li>
                            <li><a href="">售后服务</a></li>
                            <li><a href="">联系我们</a></li>
                        </ul>
                    </div>

                    <!-- Other illustrate -->
                    <div class="ui-footer-illustrate">
                        <div class="logo">
                            <img src="../../assets/images/logo-footer.png" alt="">
                        </div>
                        <div class="online">
                            <a href="">
                        <i class="icon-chat"></i>
                        在线客服
                    </a>
                        </div>
                        <div class="tell">
                            <a href="tel:400-880-0008">飞利浦官网客服电话   400-880-0008</a>
                            <a href="tel:400-889-2552">飞利浦商城客服电话   400-889-2552</a>
                        </div>
                        <div class="link">
                            <ul class="clearfix">
                                <li><a href="">隐私条款</a></li>
                                <li><a href="">使用条款</a></li>
                                <li><a href="">关于飞利浦官方商城</a></li>
                                <li><a href="">联系</a></li>
                                <li><a href="">站点地图</a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <p>©2004-2017 Koninklijke Philips N.V.版权所有 </p>
                            <p>沪ICP备09062110号</p>
                        </div>
                    </div>
                </div>
            </footer>

        </div>

    </section>


    <div id="module" class="ui-png-mask e-png-mask"></div>


    <script src="../../../libs/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../../libs/jquery/jquery.lazyload.js"></script>
    <script src="../../../libs/jquery/jquery.nstSlider.min.js"></script>
    <script src="../../assets/js/comment.js"></script>
    <script src="../../assets/js/productList.js"></script>
    <script src="../../assets/js/main.js"></script>

</body>

</html>